@use '../base';

.sr__only--link {
	width: 0;
	display: inline-block;
	height: 0;
	overflow: hidden;
}

.services__wrapper {
	padding: 3.5rem 1.5rem 1.8rem;
	text-align: center;
	max-width: 27.8125rem;
	/* margin: auto; */
	display: flex;
	flex-direction: column;
	place-content: center;
}

.services__item {
	display: flex;
	flex-direction: column;
	//color: aqua;
}

.services__title {
	font-size: 2rem;
	margin-bottom: 1.8rem;
}

.services__content {
	display: flex;
	place-content: center;
	font-size: 1.125rem;
	margin-bottom: 2.5rem;
	color: #808397;
	align-items: center;
}

.services__img__flow {
	height: 100%;
	object-fit: cover;

	img {
		height: 100%;
		object-fit: cover;
	}
}

.photo__content {
	color: #19536C;
}

.photo__title {
	color: #052C3B;
	font-size: 1.75rem;
}

.graphic__title {
	color: #24554A;
	font-size: 1.75rem;
}

.learn__link--btn {
	display: inline-block;
	font-family: base.$heading-font;
	font-size: 0.9375rem;
	color: base.$black-text;
	text-decoration: none;
	position: relative;
	z-index: 2;

	&::before {
		position: absolute;
		content: "";
		bottom: -1px;
		left: -3px;
		width: 108%;
		height: 0.6rem;
		background-color: #FAD400;
		border-radius: 4px;
		z-index: -1;
	}
}

.link__brown--btn {
	&::before {
		background-color: base.$soft-red;
	}
}

.graphic__design,
.photo__design {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;
}

.graphic__design {
	background-image: url("../../images/mobile/image-graphic-design.jpg");
}

.photo__design {
	background-image: url("../../images/mobile/image-photography.jpg");
}

.designs {
	padding-top: 100%;
	margin: 0 auto;
}

.designs__wrapper {
	text-align: center;
	padding: 1.5rem;
	max-width: 26.25rem;
}

@media screen and (min-width: 680px) {
	.services__item {
		flex-direction: row;
		flex: 1 1 50%;

		&:first-child {
			flex-direction: row-reverse;
		}
	}

	.services__content,
	.services__img {
		flex: 1 1 50%;
	}

	.services__deco__img {
		display: flex;
	}

	.graphic__design {
		background-image: url("../../images/desktop/image-graphic-design.jpg");
	}

	.photo__design {
		background-image: url("../../images/desktop/image-photography.jpg");
	}

	.designs {
		padding-top: 53%;
	}
}

@media screen and (min-width: 1180px) {
	.services__wrapper {
		text-align: left;
	}

	.services__title {
		font-size: 2.5rem;
	}

	.graphic__title,
	.photo__title {
		font-size: 1.75rem;
	}
}